
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table table-hover">

    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>furkan</td>
        <td>asd</td>
        <td>True</td>
        <td><button class="btn btn-primary"> Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>alihan</td>
        <td>asdasda</td>
        <td>True</td>
        <td><button class="btn btn-primary"> Güncelle</button></td>

    </tr>
    <tr>
        <td>1</td>
        <td>nihal</td>
        <td>asdasasd</td>
        <td>True</td>
        <td><button class="btn btn-primary"> Güncelle</button></td>

    </tr>

</table>
<button class="btn btn bg-success">Kategori Ekle</button>
<button class="btn btn bg-warning">Kategori Listesi</button>

